# Ignore bundler config.
/.bundle

db/*.sqlite3
db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.pryrc

dist
.tmp
.sass-cache

/cookbooks
/.vagrant
Cheffile.lock

.rvmrc
.ruby-version
.ruby-gemset
.rbenv
.rbenv-gemsets

config/database.yml

*.rdb

.DS_Store
